.em{
    font-size: large;
    font-weight: bold;
    color: palevioletred;
}

h2 {
    color: rebeccapurple
}

h3 {
    color: royalblue;
}

li {
    outline:auto;
    outline-color: rgba(194, 214, 192, 0.486);
}